﻿body {
    background-image: url('../img/FondEcranPlage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 20px;
    width: 100%;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}


footer {
    display: table-row;
    height: 100px;    
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
