﻿@model AirSeaAndSun2._0.Models.Hebergement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hebergement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomHebergement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomHebergement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeHebergement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeHebergement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixDeBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixDeBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdHebergement }) |
    @Html.ActionLink("Back to List", "Index")
</p>
