﻿@model IEnumerable<AirSeaAndSun2._0.Models.Hebergement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomHebergement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeHebergement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixDeBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomHebergement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeHebergement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixDeBase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdHebergement }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdHebergement }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdHebergement })
        </td>
    </tr>
}

</table>
