﻿@model AirSeaAndSun2._0.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdAdresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAdresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReservation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReservation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hebergement.NomHebergement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hebergement.NomHebergement)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdReservation }) |
    @Html.ActionLink("Back to List", "Index")
</p>
