﻿
@{
    ViewBag.Title = "Connexion";
}

<h2>Connexion</h2>

<!-- Login/Password -->
<div class="d-flex flex-column">
    <div class="col-sm-6">
        <input type="text" ID="txtLogin2" class="form-control" placeholder="Entrez votre Login" runat="server" ValidationGroup="login">
        <asp:RequiredFieldValidator ID="rfvLogin2" runat="server" ErrorMessage="Veuillez saisir votre Login" ControlToValidate="txtLogin2" CssClass="text-danger"></asp:RequiredFieldValidator>
        <br />
    </div>
    <div class="col-sm-6">
        <input id="txtPassword" type="password" class="form-control" placeholder="Entrez votre Mot de passe" TextMode="Password" runat="server" ValidationGroup="login" />
        <br />
        <asp:RequiredFieldValidator ID="rfvPassword" runat="server" ErrorMessage="Veuillez saisir votre Mot de passe" ControlToValidate="txtPassword2" CssClass="text-danger"></asp:RequiredFieldValidator>
        <br />
    </div>

    <input id="Button1" type="button" value="button" />

    <!-- Boutons Valider -->
    <div class="col-sm-8">

        <a href="#" class="btn btn-info btn-lg" id="btnEnvoyer" runat="server" type="button" onclick="">
            <span class="glyphicon glyphicon-ok"></span> Envoyer
        </a>

    </div>
</div>
