﻿@{
    ViewBag.Title = "Home Page";
}
<div class="container" style="width: 70%;">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="DetailHebergement.aspx?idHebergement=1">
                    <img src="img/villa-exception-st-anne.jpg" class="d-block w-100 img-fluid" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>GUADELOUPE</h5>
                    <p>..</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href="DetailHebergement.aspx?idHebergement=2">
                    <img src="img/Villa-exception-martinique.jpg" class="d-block w-100 img-fluid" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>MARTINIQUE</h5>
                    <p>..</p>
                </div>

            </div>
            <div class="carousel-item">
                <a href="DetailHebergement.aspx?idHebergement=3">
                    <img src="img/VillaSXM.jpg" class="d-block w-100 img-fluid" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>SAINT-MARTIN</h5>
                    <p>..</p>
                </div>
            </div>

            <div class="carousel-item">
                <a href="DetailHebergement.aspx?idHebergement=32">
                    <img src="img/Villa-exception-Gustavia.jpg" class="d-block w-100 img-fluid" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>SAINT-BARTHELEMY</h5>
                    <p>..</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <select id="Select1">        
        <option>Guadeloupe</option>
        <option>Martinique</option>
        <option>Saint-Martin</option>
        <option>Saint-Barth&#233;l&#233;my</option>
    </select>      
 </div>

<div class="d-flex justify-content-center mt-3">
    <select id="Select2">
        <option>Villa 3*-4*</option>
        <option>Villa Prestige 5*</option>
    </select>  
</div>

<div class="d-flex justify-content-center mt-3">

    <a href="#" class="btn btn-info btn-lg" id="btnEnvoyer" runat="server" ValidationGroup="login">
        <span class="glyphicon glyphicon-search"></span> Chercher

        
    </a>
    

</div>